header, footer {
    font: 14px Arial;
    text-align: center;
    line-height: 20px;
}

section {
    font: 16px Arial;
    text-align: left;
}

.frame {
    border: 3px solid gray;
    padding: 20px;
    margin: 20px;
}

button {
    background-color: gainsboro;
    border: none;
    color: gray;
    padding: 10px 10px;
    font-size: 14px;
}