body {
    font-size: 18px;
}

header, footer {
    text-align: center;
    line-height: 20px;
}

section {
    text-align: left;
}

input {
    width: 80px;
    margin-right: 5px;
}

.frame {
    border: 3px solid gray;
    padding: 20px;
    margin: 20px;
    width: 50%;
}

button {
    padding: 10px;
    margin-right: 3px;
    background-color: gainsboro;
    border: none;
    color: gray;
}

a {
    text-decoration: none;
}

.about {
    width: 25%;
    height: 50px;
    margin: 20px;
    padding: 3px;
    text-align: center;
    border: 2px solid gray;
    color: blue;
}

.ground {
    position: absolute;
    width: 450px;
    height: 100px;
    right: 20px;
    bottom: 0px;
    background: linear-gradient(to bottom, gray, white);
}

.rocket {
    animation-name: lift-up-vehicle;
    animation-duration: 2s;
}

.rocket-head {
    position: absolute;
    right: 220px;
    bottom: 250px;
    border: 7px solid transparent;
    border-bottom: 30px solid #404040;
}

.rocket-body {
    position: absolute;
    width: 15px;
    height: 150px;
    right: 220px;
    bottom: 100px;
    background: #4682B4;
}

.fin-right {
    position: absolute;
    width: 0;
	height: 0;
    right: -14px;
    bottom: 0px;
	border-bottom: 40px solid #404040; 
	border-right: 15px solid transparent;	
}

.fin-left {
    position: absolute;
    width: 0;
	height: 0;
    right: 14px;
    bottom: 0px;
	border-bottom: 40px solid #404040; 
	border-left: 15px solid transparent;
}

.fin-middle {
    position: absolute;
    width: 1.5px;
    height: 38px;
    right: 7px;
    bottom: 0px;
    background: #404040;
}

@keyframes lift-up-vehicle {
    to {
        transform: translateY(-1000px) rotate(10deg);
    }
}
